section.header{
    font-size:20px;
}
.masthead {
    
    position: relative;
    display: table;
    width: 100%;
    height: 100vh;
    padding-top: 8rem;
    padding-bottom: 8rem;
   
  }
  .header{
    background:  url("/graduation-cap-with-gold-tassle.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .about{
      padding: 6rem;
      
      
  }
  .about-card{
      border-style: none;
  }
  .about-img{
      border-radius:50%;
  }
  .about-text{
      padding-top:6rem;
      color:grey;
      font-size:30px;
  }
  i.icon-quote-left ,i.icon-quote-right{
      font-size:40px;
      color:black;
  }
  .container-events{
      padding-left:3rem;
      padding-right:3rem;
      padding-bottom: 3rem;
  }
  .icon-event{
      font-size:70px;
      padding-top:1rem;
      color:#FFBF00;
  }
  input.email{
    border-top: none;
    border-right: none;
    border-left: none;
    padding-left:5rem;
    width:100%;
  }
 
